body {
    background-color: #0a0a23;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    padding-top: 20px;
}

#game {
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1e1e2f;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin : auto;
}

#leftColumn, #rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

#logoContainer {
    text-align: center;
    margin-bottom: 10px;
}

#logo {
    max-width: 120px;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20%;
}

#logo:hover {
    opacity: 1;
}

#stats {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border: 2px solid #feac32;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stat {
    font-size: 24px;
    margin: 0px 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

strong {
    color: #feac32;
}

#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#controls button {
    padding: 18px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #feac32;
    border: none;
    border-radius: 8px;
    color: #0a0a23;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

#controls button:hover {
    background-color: #ffcc66;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(255, 204, 102, 0.7);
}

#controls button:active {
    background-color: #d98c1b;
    transform: translateY(0);
}

#monsterStats {
    background-color: #c70d0d;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#monsterStats img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#text {
    background-color: #0a0a23;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}

#sceneImageContainer {
    text-align: center;
}

#sceneImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

footer {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #feac32;
    text-align: center;
}

/* Animation */
@keyframes buttonBounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#controls button:hover {
    animation: buttonBounce 0.5s;
    background-color: #ffcc66;
    box-shadow: 0 6px 12px rgba(255, 204, 102, 0.7);
}

@media (max-width: 768px) {
    #game {
        flex-direction: column;
    }

    #leftColumn, #rightColumn {
        padding: 10px;
    }

    #controls button {
        font-size: 16px;
        padding: 12px;
    }
}
